.text_price{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    padding: 30em;
    text-align: center;
}

.text_sale {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;

}